[Unit]
Description=PulseAudio Daemon
After=avahi-daemon.service
After=dbus.service
After=network.target
After=nss-lookup.target
After=remote-fs.target
After=sound.target

[Service]
User=__APP__
PermissionsStartOnly=true
ExecStart=__APP__ -D